<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.project.repository.BoardRepository">
    <insert id="saveBoard" parameterType="study.project.dto.BoardDto">
        INSERT INTO board (title, content, author, created_at) VALUES (#{title}, #{content}, #{author}, #{created_at})
    </insert>
    
    <select id="boardList" resultType="study.project.dto.BoardDto">
        SELECT title, content, author FROM board;
    </select>
</mapper>

