<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.project.repository.BoardRepository">
    <insert id="saveBoard" parameterType="study.project.dto.BoardDto">
        INSERT INTO board (title, content, author, created_at) VALUES (#{title}, #{content}, #{author}, #{created_at});
    </insert>
    
    <select id="boardList" resultType="study.project.dto.BoardDto">
        SELECT * FROM board;
    </select>

    <select id="findById" resultType="study.project.dto.BoardDto">
        SELECT * FROM board WHERE id = #{id};
    </select>

    <update id="update" parameterType="study.project.dto.BoardDto">
        UPDATE board
        set title = #{title}, author = #{author}, content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM board
        where id = #{id}
    </delete>
</mapper>

